<html>
<head>
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'/>
    <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>
    <script type='module' src='scripts/mapapp.js'></script>
    <title>Map Application</title>
</head>
<body>
    <div id="loginForm" >
        <form action="" method="POST"> 
            <label for="username">Username</label>
            <input type="text" id="username">
            <label for="password">Password</label>
            <input type="text" id="password">
        </form>
        <button id="loginBtn" type="submit">Login</button>
    </div>
    <div id="message"></div>
    <div id="message2"></div>

    </div>
    <button id="logoutBtn" type="submit" style="display:none" >Logout </button>
    <h1>Map</h1>
    <div id="map1" style="width:1200px; height:600px"> </div>
    <h1>Point Of Interests</h1>
    <h3>Region: </h3><input id='region' />
    <input type='button' id='regionSearch' value='Search!' />
    <div id="confirmed"></div>
    <br />
    <div id="results"></div>
</body>
</html>