<!DOCTYPE html>
<html>
<head>
    <title>PathProtector Dashboard</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <h1>PathProtector Dashboard</h1>
    <button class="btn" onclick="showPopup()">Add Obstruction</button>
    <div id="map"></div>
    <div id="obstructionsTable"></div>
    <script src="/scripts/createObstruction.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/obstructionTable.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgxu1LuvU8yS3qv5f0KsX1PDV1tNX4v8E&callback=initMap" async defer></script>
</body>
</html>
