<!DOCTYPE html>
<html>
<head>
    <title>Google Maps Example</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Google Maps Example</h1>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQEfxPRRLZFM0YMAHuAqxLoD35oj6Ptww&callback=initMap"
        async defer></script>
    <script>
        function initMap() {
            fetch('/map').then(response => response.text()).then(html => {
                document.getElementById('map').innerHTML = html;
            });
        }
    </script>
</body>
</html>