<!DOCTYPE html>
<html>
<head>
    <title>Hiking Obstructions Dashboard</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Hiking Obstructions Dashboard</h1>
    <div id="map"></div>
    <script src="/scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgxu1LuvU8yS3qv5f0KsX1PDV1tNX4v8E&callback=initMap" async defer></script>
</body>
</html>
