<!DOCTYPE html>
<html>
<head>
    <title>PathProtector Dashboard</title>
    <link rel="stylesheet" href="scripts/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody&family=Julius+Sans+One&family=K2D:wght@500&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="scripts/logo.png" alt="Logo">
            <h1>PathProtector Dashboard</h1>
        </div>
        <div class="login-container">
            <a href="/logout">Logout</a>
        </div>
    </header>
    
    <div id="map"></div>
    <div id="obstructionsTable"></div>
    <script src="/scripts/createObstruction.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/obstructionTable.js"></script>
    <button class="btn" onclick="showPopup()">Add Obstruction</button>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgxu1LuvU8yS3qv5f0KsX1PDV1tNX4v8E&callback=initMap" async defer></script>
</body>
</html>
