<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="scripts/login.css">
</head>
<body>

    <div class="container">
        <div class="banner">
          <img src="scripts/logo.png" alt="Logo">
          <h1>PathProtector Dashboard</h1>
        </div>
      
        <div id="login-form">
          <h2>Login</h2>
          <form action="#" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="button" id="login-btn">Login</button>
          </form>
        </div>
      </div>


<script>
      document.getElementById('login-btn').addEventListener('click', function() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        
        
        fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ username: username, password: password })
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Login failed');
          }
          return response.json();
        })
        .then(data => {
          console.log(data);
          window.location.href = '/dashboard'; // Redirect to dashboard on successful login
        })
        .catch(error => {
          console.error(error);
        });
      });
  </script>

</body>
</html>
