/* Custom CSS for PathProtector Dashboard */

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
header {
    background-color: #669900;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #cbd5e0;
}

th {
    background-color: #669900;
    color: #ffffff;
    text-align: left;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%; /* Adjusted width to 80% of the viewport width */
    max-height: 80%; /* Set maximum height to 80% of the viewport height */
    transform: translate(-50%, -50%);
    background-color: rgba(102, 153, 0, 0.99);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 0.375rem;
    border: 3px solid #fff;
    padding: 2rem;
    z-index: 1000;
    max-width: 28rem;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}


.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: inline-block; /* Change display to inline-block */
    width: 30%; /* Set width for the labels */
    margin-right: 10px; /* Add margin to separate labels from inputs */
    color: white; /* Same color as the form labels in the login screen */
    font-size: 0.875rem; /* Same font size as the form labels in the login screen */
}

.input-field input,
.input-field textarea {
    width: 65%; /* Set width for the input fields */
    display: inline-block; /* Change display to inline-block */
    margin-bottom: 10px; /* Add margin to separate inputs */
    vertical-align: top; /* Align inputs with the top of the labels */
}

.input-field input:focus,
.input-field textarea:focus {
    outline: none;
    border-color: #e4e4e4;
    box-shadow: 0 0 0 3px rgba(214, 214, 214, 0.5);
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2c5282;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

#map{
    height: 40rem;
}

.popupTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white; 
}